<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <specialcat>
            <general>
                <enable>0</enable>
                <display_text></display_text>
                <parent_id></parent_id>
            </general>
        </specialcat>
    </default>
</config>
